<h2>Eventos</h2>
<hr>
<form action="" class="form-inline">
    <div class="form-group mb-2">
        <input type="text" class="form-control mr-2" placeholder="Buscar">
        <button class="btn btn-outline-sucess">Buscar</button>
    </div>
</form>
<table class="custom-table">
    <thead>
        <tr>
            <th class="th">#</th>
            <th class="th">Image</th>
            <th class="th">Tema</th>
            <th class="th">Local</th>
            <th class="th">Data</th>
            <th class="th">Qtd Pessoas</th>
            <th class="th" >Lote</th>
            <th class="th" >Options</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos">
        <tr *ngFor="let evento of eventos">
            <td>{{evento.eventoId}}</td>
            <td><img [src]="evento.imagemURL" alt="Imagem do Evento" [style.width.px]="100" [style.margin.px]="2"> </td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button class="btn btn-edit">Editar</button>
                <button class="btn btn-delete">Excluir</button>
            </td>
        </tr>
        
    </tbody>
    <tbody *ngIf="!eventos.length">
        <tr>
            <td colspan="8"><h4>Nenhum Evento encontrado</h4></td>
        </tr>
    </tbody>
</table>
