<mat-toolbar color="primary">
    <span class="menu-title">ProEventos</span>
    <div class="menu-items">
      <a mat-button routerLink="/evento" routerLinkActive="active">
        <mat-icon>event</mat-icon>
        <span>Evento</span>
      </a>
      <a mat-button routerLink="/palestrante" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Palestrante</span>
      </a>
      <a mat-button routerLink="/contatos" routerLinkActive="active">
        <mat-icon>contacts</mat-icon>
        <span>Contatos</span>
      </a>
    </div>
  </mat-toolbar>
  